<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Helsinki</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tunnistamo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>opencityapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	<key>NSAllowsArbitraryLoads</key><true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Voit liittää palautteeseesi kuvia puhelimen kameralla</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Paikkatietoja käytetään karttanäkymän ja palautepyyntöjen paikantamiseen</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Voit liittää palautteeseesi kuvia puhelimen muistista</string>
	<key>NSMotionUsageDescription</key>
	<string>Puhelimen liikesensorin avulla paikkatiedot voidaan kytkeä pois päältä akun säästämiseksi</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HelsinkiGrotesk-Black.otf</string>
		<string>HelsinkiGrotesk-BlackItalic.otf</string>
		<string>HelsinkiGrotesk-Bold.otf</string>
		<string>HelsinkiGrotesk-BoldItalic.otf</string>
		<string>HelsinkiGrotesk-Medium.otf</string>
		<string>HelsinkiGrotesk-MediumItalic.otf</string>
		<string>HelsinkiGrotesk-Regular.otf</string>
		<string>HelsinkiGrotesk-RegularItalic.otf</string>
	</array>
</dict>
</plist>
